<!DOCTYPE html>
<html lang="zh_CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nn_cut</title>
  <script src="./vue3.js"></script>

  <style>
    #app .tool_bar {
      padding: 5px;
      border-bottom: 1px solid black;
    }

    #app .tool_bar input {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #app .note {
      position: relative;
    }
    #app .note:hover::after {
      content: "✂";
      position: absolute;
      left: 6px;
      right: 6px;
      border-bottom: 1.5px dashed black;
      cursor: pointer;
    }
    #app .note.cut::before {
      content: "";
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 0;
      border-bottom: 1.5px dashed #cf0808;
    }

  </style>
</head>

<body style="display: flex; justify-content: center; align-items: center; margin: 0; padding: 0; height: 100vh;">
  <div id="app" style="display: flex; flex-direction: column; margin-bottom: 20px; width: 80%; max-width: 1000px; height: 100%; font-size: 16px;">
  
    <h1 style="margin: 0 0 2px 0; padding: 10px 0; border-bottom: 1px solid black; font-size: 30px; text-align: center;">
      <span>nn cut</span>
    </h1>

    <div style="display: flex; width: 100%; flex: 1; border: 1px solid black; box-sizing: border-box; overflow: auto;">
      <div style="flex: 3; display: flex; flex-direction: column; height: 100%; border-right: 1px solid black; overflow: hidden;">
        <div class="tool_bar">
          <input type="file" accept=".nn" @change="read_nn_file"></input>
        </div>
  
        <div v-if="nn_file" style="flex: 1; display: flex; flex-direction: column; padding-bottom: 10px; overflow: hidden;">

          <div style="flex: 1; position: relative; overflow-x: hidden;" @click="click_note">
            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; position: sticky; top: 0; z-index: 1; padding: 1px 0 3px 0; background-color: #dcf5dc;">
              <div style="text-align: center;">序号</div>
              <div style="text-align: center;">歌词</div>
              <div style="text-align: center;">音高</div>
            </div>
            <div class="note" :class="{'cut': note.cut}" style="display: grid; grid-template-columns: 1fr 1fr 1fr;"
              v-for="(note, index) in nn_file.notes" :data-index="index">
              <div style="padding-right: 35%;"><div style="text-align: right; color: #999;">{{ index + 1 }}</div></div>
              <div style="text-align: center;">{{ note.lyric }}</div>
              <div style="padding-right: 40%;"><div style="text-align: right; ">{{ number_to_note(note.pitch) }}</div></div>
              
            </div>
          </div>
        </div>
      </div>

      <div style="flex: 7; display: flex; flex-direction: column; height: 100%; overflow: auto;">
        <div v-if="nn_file" class="tool_bar" style="display: flex; justify-content: end; gap: 15px">
          <button @click="auto_naming">自动命名</button>
          <button @click="save_nn_all">导出全部</button>
        </div>
        <div v-if="nn_file" style="flex: 1; position: relative; overflow: auto;">
          <div style="display: grid; grid-template-columns: 5fr 3fr 1fr; position: sticky; top: 0; z-index: 1; padding: 1px 0 3px 0; background-color: #dcf5dc;">
            <div style="text-align: center;">歌词预览</div>
            <div style="text-align: center;">导出为 .nn</div>
            <div></div>
          </div>
          <div v-for="(range, index) in cut" style="display: grid; grid-template-columns: 5fr 3fr 1fr; padding: 5px;">
            <div style="display: flex;">
              <div style="width: 75px; color: #999;">{{ range.from + 1 }}~{{ range.to }}</div>
              <div style="flex: 1;">{{ lyric_preview(range) }}</div>
            </div>
            <div><input type="text" v-model="range.file_name" placeholder="请输入文件名 .nn" style="width: 100%;"></div>
            <div><button style="margin-left: 25%;" @click="save_nn(range)">导出</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const { createApp } = Vue;
    const app = createApp({
      data() {
        return {
          nn_file: null,
          file_name: '',
          cut: [],
        };
      },
      methods: {
        read_nn_file(event) {
          const file = event.target.files[0];
          if (file) {
            if ( ! file.name.endsWith('.nn')) {
              alert('请选择 .nn 文件');
              return;
            }

            this.file_name = file.name.slice(0, -3); /* 移除 .nn 后缀 */

            const reader = new FileReader();
            reader.onload = () => {
              this.parse_nn_file(reader.result);
            };
            reader.readAsText(file);
          }
        },

        parse_nn_file(content) {
          this.nn_file = {}

          /* 记录原文件的每一行 */
          const lines = content.split('\n');
          this.nn_file.lines = lines;

          /* 提取所有音符 */
          this.nn_file.notes = lines.slice(2).map(line => {
            const parts = line.split(' ');
            if (parts.length < 6){
              return null;
            } else {
              return {
                lyric: parts[1], /* 歌词 */
                pitch: parts[5], /* 音高 */
                cut:   false,    /* 标记是否在该音符后切割，仅用作页面中绘制分割线 */
              }
            }
          }).filter(note => note != null);

          const default_range = {
            from: 0, /* 切割的起始位置和结束位置（左闭右开） */
            to: this.nn_file.notes.length,
            file_name: '' /* 导出的 .nn 文件名 */
          }
          /* 记录切割出的所有片段，各片段按区间顺序排列 */
          this.cut = [default_range]
        },

        number_to_note(num) {
          return `${['B','#A','A','#G','G','#F','F','E','#D','D','#C','C'][num % 12]}${5 - Math.floor(num / 12)}`
        },

        click_note(event) {
          let target = event.target;
          while (target && !target.dataset.index && target !== event.currentTarget) {
            target = target.parentNode;
          }
          if ( ! (target && target.dataset.index !== undefined)) {
            return;
          }
  
          /* 切割的位置，是所点击的音符在 this.nn_file.notes 中的下标 */
          const cut_pos = Number(target.dataset.index);

          /* 在 this.cut 中查找该切割位置所在的片段 */
          let i = 0;
          for (; i < this.cut.length; i++) {
            if (this.cut[i].from <= cut_pos && cut_pos < this.cut[i].to) {
              break;
            }
          }
          const range = this.cut[i];
        
          if (cut_pos + 1 === range.to) { /* 若该切割位置是某个片段的末尾，则移除切割线，将前后两个片段合并 */
            if (i + 1 >= this.cut.length) {
              return;
            }
            const merge_range = {
              from: range.from,
              to: this.cut[i + 1].to,
              file_name: range.file_name,
            };
            this.cut.splice(i, 2, merge_range);
          }
          else { /* 否则增加一个切割线，将该片段分割成两个新片段 */
            const left = {
              from: range.from,
              to: cut_pos + 1,
              file_name: range.file_name,
            };
            const right = {
              from: cut_pos + 1,
              to: range.to,
              file_name: '',
            };
            this.cut.splice(i, 1, left, right);
          }

          const note = this.nn_file.notes[cut_pos];
          note.cut = !note.cut;
        },

        lyric_preview(range) {
          let lyric = '';
          if (range.to - range.from < 12) {
            for (let i = range.from; i < range.to; i++) {
              lyric += this.nn_file.notes[i].lyric
            }
          }
          else {
            for (let i = range.from; i < range.from + 5; i++) {
              lyric += this.nn_file.notes[i].lyric
            }
            lyric += ' ... ';
            for (let i = range.to - 5; i < range.to; i++) {
              lyric += this.nn_file.notes[i].lyric
            }
          }
          return `${lyric}`;
        },

        auto_naming() {
          for (let i = 0; i < this.cut.length; i++) {
            this.cut[i].file_name = `${this.file_name}_${i + 1}.nn`;
          }
        },

        save_nn(range) {

          let file_name = range.file_name;
          if ( ! file_name) {
            file_name = `${this.file_name} ${range.from + 1}-${range.to}.nn`;
          } else if ( ! file_name.endsWith('.nn')) {
            file_name = `${range.file_name}.nn`;
          }

          /* 从 this.nn_file.lines（原文件的每一行）中提取所裁剪的片段的内容 */
          let content = '';
          content += `${this.nn_file.lines[0]}\n`;
          content += `${range.to - range.from}\n`;
          const skip_header = 2;
          for (let i = range.from; i < range.to; i++) {
            content += `${this.nn_file.lines[skip_header + i]}\n`;
          }

          this.save_text_file(file_name, content);
        },

        async save_nn_all() {
          for (let i = 0; i < this.cut.length; i++) {
            this.save_nn(this.cut[i]);
            await new Promise(resolve => setTimeout(resolve, 100));
          }
        },

        save_text_file(filename, content) {
          const blob = new Blob([content], { type: 'text/plain;charset=utf-8' });
          const link = document.createElement('a');
          link.href = URL.createObjectURL(blob);
          link.download = filename;
          link.click();
          URL.revokeObjectURL(link.href);
        }
      }
    });
    app.mount('#app');
  </script>

</body>

</html>
